body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* About me sektion */

.main-content-sektion {
  padding: 100px 90px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
/* Main content sektion */
.about-me-section {
  margin-bottom: 40px;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.about-me-diskription {
  width: 400px;
  height: 120px;
  left: 498px;
  top: 252px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* My projects sektion */
.my-projects-sektion {
  margin-bottom: 50px;
}
.my-projects-list {
  padding: 0 0 0 17px;
}
.my-projects-item {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* My work experience */
.my-work-experience-company {
  color: #fb6d3a;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-work-experience-divider {
  color: #000;
}
.my-experience-duties {
  padding: 0 0 0 17px;
}
.my-experience-duties-company {
  margin-bottom: 43px;
  padding: 0 0 0 17px;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-company-block {
  margin: 0 0 15px 0;
}
/* My education sektion */
.my-education-experience {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10 0;
}
.main-education-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-education-studies {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.my-education-divider {
  color: #000000;
}
/* Sitebarsektion */

.my-foto {
  width: 370px;
  height: 354px;
}
.sitebar-sektion {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-sektion {
  margin: 50px 0 0 40px;
}
.tehc-skills-sektion {
  margin: 50px 0 0 40px;
}
.Soft-Skills-section {
  margin: 50px 0 0 40px;
}

.sitebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* Contacts sektion */

.contacts-sektion-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}

.contacts-sektion-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/* Tech Soft Skills sektion */
.tehc-soft-skills {
  padding-left: 17px;
}
.tehc-soft-skills-item {
  color: #fb6d3a;
}
.tehc-soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
